.service-container {
  display: grid;
  place-items: center;
  padding: 20px;
  height: 100vh;
  box-sizing: border-box;
}

.service-detail-1,
.service-detail-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  margin: 20px auto;
  width: 100%;
  max-width: 1200px;
}

.service-heading {
  text-align: center;
  margin-bottom: 20px;
}

.service-image {
  max-width: 50%;
  border-radius: 8px;
  justify-self: center;
}

.service-detail-1 p,
.service-detail-2 p {
  margin: 0;
  align-self: start;
  text-align: left;
}

.service-detail-1 p {
  margin-bottom: 1.5rem;
}

.detail-1-text {
  display: grid;
  grid-template-rows: auto 1fr auto; /* Add auto to the third row for the button */
  gap: 10px;
  height: 100%; /* Ensure the container fills the available space */
}

.detail-1-text .btn {
  align-self: end; /* Align the button at the bottom */
  justify-self: start; /* Align the button to the start of its container */
  max-width: 250px; /* Set a max width if needed */
}

@media (max-width: 768px) {
  .service-detail-1,
  .service-detail-2 {
    grid-template-columns: 1fr; /* Stack columns on small screens */
    width: 100%; /* Take full width */
  }

  .service-image {
    max-width: 100%; /* Make image responsive */
  }
}
