.cards-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding:60px;
    padding-top: 30px;
    place-items: center;
  }

  .services-heading {
    margin-top: 50px;
    text-align: center;
  }
  
  @media (min-width: 1024px) {
    .cards-section {
      grid-template-columns: repeat(5, 1fr);
    }
  }