/* .dropdown-menu {
    width: 200px;
    position: absolute;
    top: 80px;
    list-style: none;
    text-align: start;
    z-index: 1;
  } */

  .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.556);
    position: absolute;
    top: 65px;
    list-style: none;
    text-align: start;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    left: -240px;
    width: 800px;
  }
  
  
  .dropdown-menu li {
    background: #7781A6;
  }
  
  .dropdown-menu li {
    border-right: 0.3px solid gray; /* Right border for all columns */
    box-sizing: border-box; /* Include padding and border in width and height */
}

/* Remove right border from the last column */
.dropdown-menu li:nth-child(4n) {
    border-right: none;
}

  .dropdown-submenu li:hover {
    background: #E14B8F;
    cursor: pointer;
  }
  
  .dropdown-menu.clicked {
    display: none;
  }
  
  .dropdown-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #fff;
    padding: 16px;
  }

  .dropdown-category {
    text-align: center;
    font-size: medium;
    color: rgba(240, 248, 255, 0.556);
  }

  .dropdown-category-title{
    font-size:small;
  }
  
  @media screen and (max-width: 960px) {
    .category-icon {
      display: none;
    }
  }
  